language: generic
sudo: required
services:
  -docker

  before_install:
    - docker build -t auwilson92/docker-react -f Dockerfile.dev .

    script:
      - docker run -e CI=true auwilson92/docker-react npm run 